body {
	text-align: center;
}

h1 {
	font-family: 'Monoton', cursive;	
	font-size: 80px;
}

div p {
	font-weight: 900;
}

.inline {
	float: left;
}

#gridWrapper {
	margin: 0 auto;
	display: inline-block;
}

#colorOption {
	font-weight: 900;
	margin: 10px;
}

#options {
	margin-bottom: 20px;
}

.grid-cell {
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
}

input {
	width: 70px;
}
